/SWD_TargetDevice_Side/Debug
/SWD_TargetDevice_Side/lst
/SWD_TargetDevice_Side/obj
/SWD_TargetDevice_Side/.settings/*
/SWD_TargetDevice_Side/*.bak
/SWD_TargetDevice_Side/*.dep
/SWD_TargetDevice_Side/dummy.uvgui.*
/SWD_TargetDevice_Side/EventRecorderStub.scvd
/SWD_TargetDevice_Side/Debug/

/USB_PC_Side/Debug
/USB_PC_Side/lst
/USB_PC_Side/obj
/USB_PC_Side/.settings/*
/USB_PC_Side/*.bak
/USB_PC_Side/*.dep
/USB_PC_Side/dummy.uvgui.*
/USB_PC_Side/EventRecorderStub.scvd
/USB_PC_Side/Debug/